# IDE
**/.vs
**/.vscode

# Compliation artifacts
**/bin
**/obj

# Application running artifacts
**/*.db
**/logs

# Git & Docker
.dockerignore
.gitignore
.git
docker-compose.yml
Docker

# Configuration-related
.env

# Miscellaneous
**/.DS_Store
gitmessage.txt
LICENSE